In [ ]:
#import libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [54]:
#Read the dataset from drive
df = pd.read_csv("/Users/apple/neuralNetworkExps/EX-1-NN/Churn_Modelling.csv")
df = df.drop(["Surname","RowNumber","CustomerId"],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [55]:
# Finding Missing Values
print(df.isnull().sum())

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [56]:
#Check for Duplicates
df.duplicated().sum()

0

In [ ]:
# converting string to numerical values(Label Encoding)
encode = LabelEncoder()
df['Gender'] = encode.fit_transform(df['Gender'])
df['Geography'] = encode.fit_transform(df['Geography'])

In [58]:
# Spliting the data
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [59]:
# Normalize the data
scaler = StandardScaler()
X_transform = scaler.fit_transform(X)
X_transform

array([[-0.32622142, -0.90188624, -1.09598752, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-0.44003595,  1.51506738, -1.09598752, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-1.53679418, -0.90188624, -1.09598752, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.60498839, -0.90188624, -1.09598752, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.25683526,  0.30659057,  0.91241915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 1.46377078, -0.90188624, -1.09598752, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [60]:
#split the dataset into input and output
x_train,x_test,y_train,y_test = train_test_split(X_transform,y,test_size=0.2)

In [61]:
#Print the training data and testing data
print("The training set of transformed X :\n",x_train)
print("The testing set of transformed X :\n ",x_test)

The training set of transformed X :
 [[-0.58489081  0.30659057 -1.09598752 ... -1.54776799 -1.03067011
   0.54117388]
 [-1.34020544 -0.90188624 -1.09598752 ...  0.64609167  0.97024255
   0.50885381]
 [ 0.69810937 -0.90188624  0.91241915 ...  0.64609167 -1.03067011
   0.45640006]
 ...
 [-1.18500381  1.51506738 -1.09598752 ...  0.64609167  0.97024255
   0.62787178]
 [ 1.28787559  1.51506738  0.91241915 ...  0.64609167  0.97024255
  -0.55551441]
 [-0.94702796 -0.90188624 -1.09598752 ... -1.54776799  0.97024255
   0.65854181]]
The testing set of transformed X :
  [[-1.56783451 -0.90188624 -1.09598752 ...  0.64609167 -1.03067011
  -0.46311586]
 [ 0.4290932   0.30659057 -1.09598752 ... -1.54776799 -1.03067011
   1.12213291]
 [ 0.29458512  0.30659057  0.91241915 ...  0.64609167  0.97024255
  -0.22748412]
 ...
 [ 0.0048754  -0.90188624  0.91241915 ...  0.64609167 -1.03067011
   0.25096571]
 [ 1.61897241 -0.90188624 -1.09598752 ... -1.54776799 -1.03067011
   0.44080891]
 [-2.04378619  0.30659057 -1.09598752 ...  0.64609167 -1.03067011
   0.63915898]]

In [62]:
print("The training set of y : \n",y_train)
print("The testing set of y : \n",y_test)

The training set of y :
 1449    0
5246    0
7513    0
1849    0
1302    0
       ..
7375    0
9945    0
5112    0
281     0
8503    0
Name: Exited, Length: 8000, dtype: int64
The testing set of y :
 8916    0
3465    0
7304    0
2533    0
2848    0
       ..
4708    0
6161    0
2916    1
3951    1
9177    0
Name: Exited, Length: 2000, dtype: int64